node_modules
dist
out
.DS_Store
*.log*

/electron.vite.config.*.mjs
auto-imports.d.ts
components.d.ts

/lib/node-addons/build/*
!/lib/node-addons/build/Release/
/lib/node-addons/build/Release/*
!/lib/node-addons/build/Release/*.node
